apiVersion: serving.kserve.io/v1alpha1
kind: LLMInferenceServiceConfig
metadata:
  annotations:
      {"apiVersion":"serving.kserve.io/v1alpha1","kind":"LLMInferenceServiceConfig","metadata":{"annotations":{},"name":"kserve-config-llm-scheduler","namespace":"rhaii-inference"},"spec":{"router":{"scheduler":{"pool":{"spec":{"extensionRef":{"failureMode":"FailOpen","group":"","kind":"Service","name":"{{ ChildName .ObjectMeta.Name `-epp-service` }}"},"selector":{},"targetPortNumber":8000}},"template":{"containers":[{"args":["--pool-name","{{ ChildName .ObjectMeta.Name `-inference-pool` }}","--pool-namespace","{{ .ObjectMeta.Namespace }}","--pool-group","inference.networking.x-k8s.io","--zap-encoder","json","--grpc-port","9002","--grpc-health-port","9003","--secure-serving","--model-server-metrics-scheme","https","--cert-path","/var/run/kserve/tls"],"env":[{"name":"SSL_CERT_DIR","value":"/var/run/kserve/tls:/var/run/secrets/kubernetes.io/serviceaccount:/etc/pki/tls/certs"}],"image":"gcr.io/ecoeng-llmd/llm-d-inference-scheduler:latest","imagePullPolicy":"IfNotPresent","livenessProbe":{"failureThreshold":3,"grpc":{"port":9003,"service":"envoy.service.ext_proc.v3.ExternalProcessor"},"initialDelaySeconds":5,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":1},"name":"main","ports":[{"containerPort":9002,"name":"grpc","protocol":"TCP"},{"containerPort":9003,"name":"grpc-health","protocol":"TCP"},{"containerPort":9090,"name":"metrics","protocol":"TCP"},{"containerPort":5557,"name":"zmq","protocol":"TCP"}],"readinessProbe":{"failureThreshold":3,"grpc":{"port":9003,"service":"envoy.service.ext_proc.v3.ExternalProcessor"},"initialDelaySeconds":30,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":1},"resources":{"requests":{"cpu":"256m","memory":"500Mi"}},"securityContext":{"allowPrivilegeEscalation":false,"capabilities":{"drop":["ALL"]},"readOnlyRootFilesystem":true,"runAsNonRoot":true,"seccompProfile":{"type":"RuntimeDefault"}},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"FallbackToLogsOnError","volumeMounts":[{"mountPath":"/var/run/kserve/tls","name":"tls-certs","readOnly":true}]}],"dnsPolicy":"ClusterFirst","restartPolicy":"Always","terminationGracePeriodSeconds":30,"volumes":[{"name":"tls-certs","secret":{"secretName":"{{ ChildName .ObjectMeta.Name `-kserve-self-signed-certs` }}"}}]}}}}}
  name: kserve-config-llm-scheduler
  namespace: rhaii-inference
spec:
  router:
    scheduler:
      pool:
        spec:
          extensionRef:
            failureMode: FailOpen
            group: ""
            kind: Service
            name: '{{ ChildName .ObjectMeta.Name `-epp-service` }}'
          selector: {}
          targetPortNumber: 8000
      template:
        containers:
        - args:
          - --pool-name
          - '{{ ChildName .ObjectMeta.Name `-inference-pool` }}'
          - --pool-namespace
          - '{{ .ObjectMeta.Namespace }}'
          - --pool-group
          - inference.networking.x-k8s.io
          - --zap-encoder
          - json
          - --grpc-port
          - "9002"
          - --grpc-health-port
          - "9003"
          - --secure-serving
          - --model-server-metrics-scheme
          - https
          - --cert-path
          - /var/run/kserve/tls
          env:
          - name: SSL_CERT_DIR
            value: /var/run/kserve/tls:/var/run/secrets/kubernetes.io/serviceaccount:/etc/pki/tls/certs
          image: gcr.io/ecoeng-llmd/llm-d-inference-scheduler:alpn-fix
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 3
            grpc:
              port: 9003
              service: envoy.service.ext_proc.v3.ExternalProcessor
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          name: main
          ports:
          - containerPort: 9002
            name: grpc
            protocol: TCP
          - containerPort: 9003
            name: grpc-health
            protocol: TCP
          - containerPort: 9090
            name: metrics
            protocol: TCP
          - containerPort: 5557
            name: zmq
            protocol: TCP
          readinessProbe:
            failureThreshold: 3
            grpc:
              port: 9003
              service: envoy.service.ext_proc.v3.ExternalProcessor
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            requests:
              cpu: 256m
              memory: 500Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
          - mountPath: /var/run/kserve/tls
            name: tls-certs
            readOnly: true
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        terminationGracePeriodSeconds: 30
        volumes:
        - name: tls-certs
          secret:
            secretName: '{{ ChildName .ObjectMeta.Name `-kserve-self-signed-certs`
              }}'
